body{
	background: #363636;
	color: #ffffff;
	margin: 4%;
}

ul{
	margin: 1%;
}

a{
	color: #ffffff;
}

h1,h2{
	text-align: center;
}

img{
	display: block;
	margin: auto;
	padding: 2%;
}

.blueberry#header{
	color: #8571ba;
}

#header{
	font-family: sans;
}
