 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
	background: #101010;
	color: #ffffff;
	margin: 2%;
	font-family: Poppins;
}

ul{
	margin: 1%;
}

a{
	color: #ffffff;
}

h1,h2{
	text-align: center;
}

img{
	display: block;
	margin: 5% auto;
	border: solid #aaff00 5px;
	border-radius: 40px;
}

.blueberry#header{
	color: #8571ba;
}

.blueberry.img{
	border: solid #8571ba 5px;
}

.recipe-items{
	display: flex;
	justify-content: space-around;
	gap: 5%;
	background: #2c2c2c;
	padding: 2%;
	margin: 2%;
	border-radius: 20px;
}

.homepage{
	display: flex;
	justify-content: space-around;
	gap: 5%;
	flex-wrap: wrap;
	margin: 5%;
}

#dummies{
	color: #aaff00;
	font-weight: thin;
}

.homepage #header{
	font-size: 50px;
	padding-top: 6%;
}
